<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.explorationgpa">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".CumulativeGpaActivity"
            android:label="@string/title_activity_cumulative_gpa" />
        <activity
            android:name=".AddSemesterActivity"
            android:label="@string/title_activity_add_semester" />
        <activity
            android:name=".InfoActivity"
            android:label="@string/title_activity_gpa" />
        <activity
            android:name=".settings.OrderActivity"
            android:label="@string/title_activity_settings_subjects_order" />
        <activity
            android:name=".settings.SubjectInfoActivity"
            android:label="@string/title_activity_setting_subject_info" />
        <activity
            android:name=".settings.CalculationActivity"
            android:label="@string/title_activity_settings_calculate_gpa" />
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_log_in" />
        <activity
            android:name=".GpaActivity"
            android:label="@string/title_activity_gpa">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".data.ExplorationProvider"
            android:authorities="com.example.android.explorationgpa"
            android:exported="false" />
    </application>

</manifest>